extends index

block content
  ul
    li: a(href='test.jade') Home Page &nbsp
    li: a(href='chi_siamo.jade') Chi Siamo &nbsp
    li: a(href='faq.jade') FAQ
    br

  
  h1= FAQ
  p Domande frequenti: