extends layout

block content
  ul
    li: a(href='/test') Home Page &nbsp
    li: a(href='/chi_siamo') Chi Siamo &nbsp
    li: a(href='/faq') FAQ
    br

  
  h1= title
  p Benvenuto alla nostra pagina!
  img(src="/images/Birra.jpg", alt="Birra")
  
  
